<section class="our-blog-area pt-90 pb-60">
    <div class="container">
        <div class="row">

            <div class="col-sm-8">
                <div class="leave-reply">
                    <h2>Kreye Nouvo Kategori</h2>
                    <ul>
                        <li>
                          <%= render 'form', channel: @channel %>
                       </li>
                    </ul>
                </div>
            </div>
        </div>
   </div>
</section>