<%= simple_form_for(@serial) do |f| %>
 <div class="field">
   <div class="input-block-level">
     <%= f.input :mainTitle, input_html: { class: 'input', placeholder:"LE Titre De La Serie" }, wrapper: false, label_html: { class: 'label' } %>
      <%= f.file_field :image, input_html: {class: "input-block-level"} %>
   </div>
 </div>

  <div class="field" style="margin-bottom:12%;">
    <div class="control">
      <%= f.button :submit, 'Creer Une Serie', class:"btn-style btn-md bo-ra-5" %>
    </div>
  </div>
<% end %>





