<% provide(:title, "Serie") %>

<p id="notice"><%= notice %></p>

<div class="main-area">
	<div class="section-title text-center">
		<h2>
			<span
				><%= @serial.mainTitle %>
				<hr
			/></span>
		</h2>
		<img src="/img/title-bottom.png" alt="" />
		<% if has_role?(:admin) %> <%= link_to 'Changer le nom',
		edit_serial_path(@serial), class:"button"%> <% end %>
	</div>
</div>
<%= render 'shared/scenes_by_serial' %>
