<% provide(:title, "Serie") %>

<p id="notice"><%= notice %></p>



<!--<div class="container" style="padding-top: 90px;">-->
<div class="main-area">
    <div class="row">  
       <div class="col-sm-12">
           <div class="section-title text-center">
               <h2><span><%= @serial.mainTitle %><hr></span></h2>
               <img src="/img/title-bottom.png" alt="">
                 
           </div>
            <% if has_role?(:admin) %>
                   <%= link_to 'Changer le nom', edit_serial_path(@serial), class:"button"%>
                <% end %>
         
       </div>
       </div>
       <br />
      <%= render 'shared/scenes_by_serial' %>
</div>


 