

<section class="our-blog-area pt-90 pb-60">
    <div class="container">
        <div class="row">

            <div class="col-sm-8">
                <div class="leave-reply">
                    <h2> Ajoute Nouvo Patne</h2>
                
                    <ul>
                      <li>
                       <%= render 'form', partner: @partner %>
                       </li>
                    </ul>
                </div>


            <%= link_to 'Back', discussions_path %>

        </div>
    </div>
</section>