<% provide(:title, "Nouvelle Episode") %>

<% if !@serials.any? %>
   <section class="our-blog-area pt-90 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h4 class="scenes-input-restrictions">Vous Devez D'abord Ajouter Une <a href="/serials/new"> <strong>Serie</strong></a>       <span class="icon is-small"><i class="fa fa-hand-o-right" aria-hidden="true"></i></span></h4>
                </div>
            </div>
        </div>
    </section>
  <% else %>
    <section class="our-blog-area pt-90 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="leave-reply">
                        <h2> Ajoutez une scène
                            <%= link_to scenes_path, :class=> "IIII" do %>
                            <i class="fa fa-remove" style="float:right"></i>
                            <% end %>
                        </h2>
                        <ul>
                            <li>
                                <%= render 'form', scene: @scene %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <% end %>
             




