<%= simple_form_for(@sponsor) do |f| %>
  <%= f.error_notification %>

 <div class="field">
   <div class="form-inputs">
     <%= f.file_field :image, input_html: {class: "input-block-level"} %>
  </div>
 </div>

  <div class="field" style="margin-bottom:13.5%;">
    <div class="control">
      <%= f.button :submit, 'Creer Un Sponsor', class:"btn-style btn-md bo-ra-5" %>
    </div>
  </div>
<% end %>