<% provide(:title, "Sponsor") %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @sponsor.image if @sponsor.image.attached? %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
