

<section class="our-blog-area pt-90 pb-60">
    <div class="container">
        <div class="row">

            <div class="col-sm-8">
                <div class="leave-reply">
                    <h2>Les Secteur Qui Nous Intereste</h2>
                
                    <ul>
                     
                       <%= render 'form', interest: @interest %>
                       
                    </ul>
                </div>


            <%= link_to 'Back', interests_path %>

        </div>
    </div>
</section>