<footer>
                <div class="footer-top pt-50 pb-50">
                    <div class="container" id="footer-position">
                        <div class="row">
                            <div class="footer-widget-area">
                                <!-- Start footer widget -->
                                <div class="col-sm-4">
                                    <div class="footer-widget widget-one">
                                        <div class="footer-widget-title">
                                            <h3>KIYES NOU YE</h3>
                                        </div>
                                        <div class="widget-about-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id tincidunt risus. </p>
                                        </div>
                                        <div class="widget-contact-content">
                                            <h3>KONTAKTE NOU</h3>
                                            <a href="tel:+0012345678">Telefon : +(509) 3706-1376</a>
                                            <a href="mailto:info@granttheme.com">Imel:  corsam28@gmail.com</a>
                                            <p>Adres :  122, Delmas 71</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End footer widget -->
                                <!-- Start footer widget -->
                                <div class="col-sm-2">
                                    <div class="footer-widget widget-two">
                                        <div class="footer-widget-title">
                                            <h3>SIB NOU</h3>
                                        </div>
                                        <nav>
                                            <ul>
                                                <li><a href="#">Edikasyon</a></li>
                                                <li><a href="#">Divestiman</a></li>
                                                <li><a href="#">kilti</a></li>
                                                <li><a href="#">Politik</a></li>
                                                <li><a href="#">Chanjman</a></li>
                                                <li><a href="#">Lot bagay</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <!-- End footer widget -->
                                <!-- Start footer widget -->
                                <div class="col-sm-2">
                                    <div class="footer-widget widget-two">
                                        <div class="footer-widget-title">
                                            <h3>AKSE RAPID</h3>
                                        </div>
                                        <nav>
                                            <ul>
                                                <li><a href="#">Koz</a></li>
                                                <li><a href="#">Pwoje</a></li>
                                                <li><a href="#">Gallery</a></li>
                                                <li><a href="#">Tem ak kondisyon</a></li>
                                                <li><a href="#">Nou Legal</a></li>
                                                <li><a href="#">Politik ki regade 'n</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <!-- End footer widget -->
                                <!-- Start footer widget -->
                                <div class="col-sm-4">
                                    <div class="footer-widget widget-four">
                                        <div class="footer-widget-title">
                                            <h3>AKTYALITE PA IMEL</h3>
                                        </div>
                                        <div class="widget-about-content">
                                            <p>Ou ta renmen toujou tande 'n, antre adres imel ou epi "Enskri"</p>
                                        </div>
                                        <div class="newslater" id="newslater-position">
                                            <form id="mc-form" class="mc-form form">
                                                <input id="mc-email" type="email" autocomplete="off"  placeholder="Email Address">
                                                <button id="mc-submit" type="submit"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                                            </form>
                                            <!-- mailchimp-alerts Start -->
                                            <div class="mailchimp-alerts text-centre">
                                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                            </div><!-- mailchimp-alerts end -->
                                        </div>
                                    </div>
                                </div>
                                <!-- End footer widget -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="copyright">
                                    <p>Copyright 2019 dwa rezeve. Selman ak <a href="#">Zonankalaloo</a></p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="footer-social">
                                    <nav>
                                        <ul>
                                             <li><a href="#">Swiv Nou Sou:</a></li>
                                            <li><a href="https://www.facebook.com/samuel.cornet"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <!-- <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
                                            <!-- <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
                                            <!--<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>-->
                                            <!--<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>-->
                                            <li><a href="www.linkedin.com/in/samuel-cornet-465b1783"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="https://wa.me/50937061376"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                                       
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs" id="back-top" style="display: block;"></div>
                    </div>
                </div>
            </footer>