 <div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6">
                <div class="top-social">
                    <nav>
                        <ul>
                            <li><a href="#">Conctatez-nous par:</a></li>
                            <li><a href="https://www.facebook.com/samuel.cornet"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="www.linkedin.com/in/samuel-cornet-465b1783"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                             <li><a href="https://wa.me/50937061376"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        <div class="col-sm-7 col-md-6">
            <div class="call-to-action">
                <nav>
                    <ul>
                        <li><a href="mailto:corsam@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email: corsam@gmail.com</a></li>
                        <li><a href="https://wa.me/50937061376"><i class="fa fa-phone" aria-hidden="true"></i> Phone: +(509) 3706-1376</a></li>
                       <% if user_signed_in? %>
                        <li style="color: white"><a href=""><strong><%= current_user.username%></strong><span>  </span>  <i class="fa fa-angle-down" aria-hidden="true"></a></i>
                            <ul>
                                <li><%#= link_to "Pwofil", destroy_user_session_path, method: :delete, class:"navbar-item" %></li>
                                <li><%= link_to "Deconnecter", destroy_user_session_path, method: :delete, class:"navbar-item" %></li>
                            </ul>
                        <% else %>
                          <li><a href="/users/sign_in"><strong>Connectez </strong><i class="fa fa-angle-down" aria-hidden="true"></a></i>
                            <ul>
                                <li><%= link_to "Connectez", new_user_session_path, class:"navbar-item sign_in"%></li>
                               <li><%= link_to "Enregistrez-Vous", new_user_registration_path, class:"navbar-item" %></li>
                            </ul>
                        <% end %>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


            